/***** UPDATED BY BC - 14/02/2019 ******/

.ek-preload-content {
	overflow: hidden;
}

/***** STUDENT LIST TABLE  ******/

.dataTables_wrapper table.dataTable.no-footer  {

	border-radius: 10px;
	-webkit-border-radius: 10px;
	border-bottom: none;
}


table.dataTable.no-footer tbody td {
	color: gray;
    padding: 12px 40px;
    white-space: nowrap;
}

table.dataTable.no-footer tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
}

div.dash-row {
	position:		relative;
	box-sizing:     border-box;
    width:		    100%;
}

div.dash-row > div {
	position:		relative;
    box-sizing:     border-box;
    width:			33.2%;
	float:			left;
    padding-right:  10px;
}

div.dash-row > div:last-child {
	float:			right;
    padding-right:  0;
}

div.dash-row > div.cell-25 {
    width:			25%;
}
div.dash-row > div.cell-50 {
    width:			50%;
}


.dash-quicklinks
{
	padding-left: 30px;
}


.clear {
    clear: both;
}





.userStatsDashWrap h2
{
	font-family:'Roboto', sans-serif;
	font-weight:100 !important;
	font-size:30px !important;
	padding-bottom:10px !important;
	

}

.userStatsDashbox
{
	text-align:center;
	width:100%;
    max-width:200px;
	font-family:'Roboto', sans-serif;
	border:1px solid #ccc;
	border-radius:10px;	
	height:auto;
	box-shadow: 2px 2px 5px 1px #ccc;
	overflow: hidden;
}

.userStatsDashboxContent
{
	background:#666666;
	color:#fff;
	border-radius:0px 0px 10px 10px;
	padding:5px;
	height:50px;
    line-height: 110%;
}

.userStatsBig
{
	padding:15px 0;
	font-size:40px;
	line-height:50px;
	font-weight:100;
}

/**** CONTAINER CHART ****/



.containerChart {

	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	overflow: hidden;

}

.ek-statsChart
{
	width: auto;
	height: 400px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto;
	border: 1px solid #ddd;

}

#platformTypeDiv, #deviceTypeDiv, #browserTypeDiv {
	height: auto !important; 
	width: auto !important;
}

@media (min-width: 992px)
.ek-statsChart {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (min-width: 576px)
.ek-statsChart {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}



/*
.ek-statsChart g path {
	fill: #5264f2 !important;
	stroke-width: 1px;
    stroke:transparent;
}
*/

.ek-statsChart g text {
	fill: #000 !important;
	font-size: 13px !important;
	font-family: Roboto, sans-serif !important;
}


.ek-statsChart h1 {

    padding: 20px;
	text-align: center;
	text-transform: uppercase;
    border: 0 !important;
	background:#ddd;
	font-weight: 400 !important;
	font-size: 18px;
	margin: 0 0 20px 0 !important;
}



/* Data tables Customisation */
.dataTable th
{
	text-align:left;
	color:#fff;
	background:#4f4f4f;
}





/***** PAGE REPORTS *******/

.statsPagesWrap {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .35em;

}

.statsPagesWrap .toggleButton:hover
{
	cursor:pointer;
}


.statsWrap table:hover
{
	background:#f7f7f7;
}

.statsWrap table
{
	border-collapse: collapse;
	border-bottom:1px solid #ccc;
	padding:20px;	

}

.statsWrap table td
{
	padding:10px;	
	color: #343a40;
	font-size: 14px;
	font-weight: 600;
    text-transform: capitalize;
    vertical-align: middle;
	
}


.statsWrap table th
{

	border: none;
    border-bottom: 1px solid #e8e9ef;
    color: #868e96;
    font-size: 12px;
    font-weight: 400;
    padding: .75em 1.25em;
	text-transform: uppercase;
	

}

.statsWrap table tr th {
	background: #e8e9ef;
}





/* Progress Reports */


.ekStatsUserTopicProgressReport .topicDiv
{
	border:1px solid #ccc;
	padding:5px 20px;
	background:#fff;
	margin-top:20px;
	font-size:18px;
}

.ekStatsUserTopicProgressReport h3
{
	font-size:16px;
	padding-left:20px;
	color:#666;
	
	
}

.ekStatsUserTopicProgressReport table
{
	padding-left:50px;
	font-size:12px;

}

.ekStatsUserTopicProgressReport table td
{
	border-bottom:1px solid #ccc;
	padding:10px;
}

.ekStatsUserTopicProgressReport .ekStatsReportNotRead
{
	color:red;
}

.ekStatsUserTopicProgressReport .ekStatsReportRead
{
	color:green;
	font-weight:bold;
}




.chartFilteringOptions
{
	display:flex;
}

.chartFilteringOptions >div 
{
	padding:10px;
	margin-right:10px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	
}

/* Chart Page Wrap */
.chartStatsWrap
{
	background:fff;
}

.graphTopRow
{
	display:flex;
	background:#1b2a47;
	margin-bottom:10px;
	padding:10px 20px;
	border-radius: 5px;
}

.graphTopRow1 > div
{
	border:1px solid #ccc;
	padding:10px;
	background:#fff;
	border-radius:4px;
	margin:0px 10px 10px 0px;

}

.graphTopRow > div
{
	padding:10px;
	background:#1b2a47;
	color: #fff;
	margin:0px 10px 10px 0px;

}

.graphTopRow .statsChartHits
{
	text-align:center;	
}

.graphTopRow .chartStatsData
{
	font-size:30px;
	padding:10px;
	text-align:center;	
}


.statsDashUserList
{
	display:flex;
	flex-direction: column;
}

.statsDashUserList a
{
	text-decoration:none;
}

.statsDashListUser
{
	display:flex;
	border-bottom:1px dotted #c2e6f3;
	width:100%;
	align-items: center;
	padding: 20px 0 15px 10px;    
	border-left: 3px solid #6ccaec;

}

.statsDashListUser .statsDashListAvatar
{
	width:50px; 
	padding-right:10px;
}


.statsDashListAvatar img
{
	height:50px;
	width:50px;
	border-radius: 50%;
}


.statsDashListName
{
	display:block;
	font-weight:bold;
	font-size: 16px;
}

.statsDashListSince
{
	display:block;
	color:gray;
	font-size: 14px;
	line-height: 1.75;

}


/* Main Dashboard Index*/

.ek-stats-main-dash
{
	display:flex;
	flex-wrap:wrap;
}


.ek-stats-main-dash-left
{
	width:70%;	
}


.ek-stats-main-dash-right
{
	width:25%;
	margin-right:10px;
}

.ek-stats-main-dash-right > div
{
	margin-left:10px;
	
}

.ek-stats-main-dash-right > div
{
	background:	#fff;
	padding:10px;
	margin-bottom:10px;

	
}

.ek-stats-heading
{
	font-family:'Roboto', sans-serif;
	font-weight:300; 
	font-size:28px;
	background: #58c9f3;
	color: #fff;
	padding: 40px 10px 10px;
	position: relative;
	min-height: 50px;
}

